
/*::ng-deep .mat-form-field-flex > .mat-form-field-infix { padding: 0.4em 0px !important;}
::ng-deep .mat-form-field-label-wrapper { top: -1.5em;}

::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-1.1em) scale(.75);
    width: 133.33333%;
}*/

mat-error{
  margin-top: -0.07rem;
}


mat-toolbar{
  background-color: #43A047;
  color: aliceblue;
}

mat-form-field,
textarea {
  width: 100%;
  margin: 0.1rem auto;
}

mat-spinner {
  margin: auto;
}

mat-card {
  margin: 15px 1px ;
  padding: 1.4rem 1.4rem;
  /*max-width: 20rem;*/
  /*min-height: 30rem !important;*/
}

mat-form-field {

}


button {
  width: 100%;
  margin-top: 0.35rem;
}

.form-title {
  font-size: 25px;
  margin: 5rem 0 0rem 0;
}
.form-desc {
  font-size: 12px;
  color: gray;
}
.spacer {
  height: 56.56px;
  margin: 10px 0;
}
.spacer2 {
  height: 15px;
}

mat-tab-group{
  max-width: 20rem;
  margin: 2rem auto 0 auto!important;
}
::ng-deep.mat-tab-label, ::ng-deep.mat-tab-label-active{
 min-width: 0!important;
 padding: 0px!important;
 margin: 0px!important;
 width: 100%!important;
}

.card-left{
  margin: 7rem auto;
}

.option {
  width: 100%;
  text-align: center;
  margin: 15px auto;
  color: gray;
}
/*Button Green Color*/
.btn_color{
  background-color: #43A047;
}
/*Make logo center*/
.center_space{
  text-align: center;
  flex: 1 1 auto;
}
